.overlay{
    background-color: rgba(0, 0, 0, 0.597);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.sidebar {
    width: 90%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: -90%;
    transition: all .5s;
}

.active {
    left: 0;
}