header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding: 15px 40px;
}

.left {
  display: flex;
  align-items: center;
  width: 100%;
}

.left img {
  width: 200px;
  height: 60px;
  object-fit: contain;
}

.left .category {
  border: none;
  background-color: #008dff;
  padding: 8px 20px;
  border-radius: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-left: 15px;
  cursor: pointer;
  transform: translateZ(0);
  backface-visibility: hidden;
  position: relative;
  transition-property: color;
  transition-duration: 0.5s;
}

.left .category::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 10px;
  background-color: #006bc3;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.left .category:hover::before {
  transform: scaleX(1);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  border-radius: 10px;
  background-color: #006bc3;
}

.left .category .category-icon {
  font-size: 23px;
  margin-right: 5px;
}



.right ul {
  display: flex;
  align-items: center;
}

.right ul li {
  list-style-type: none;
  margin-right: 10px;
}

.right ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
  margin-right: 18px;
  font-size: 15px;
  font-weight: 400;
  margin-top: 5px;
  transition: all 0.5s;
}

.right ul li a:hover {
  color: #008dff;
}

.right ul li a .header-image {
  height: 23px;
  margin-bottom: 5px;
}

.right ul li a .header-icon {
  font-size: 23px;
  margin-bottom: 5px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  height: 60px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.navigation a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  transition: all 0.5s;
}

.navigation a:hover {
  color: #006bc3;
}

@media screen and (max-width: 1027px) {
  header {
    display: none;
  }
  .navigation {
    display: none;
  }
}
