header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding: 15px 40px;
}

.left {
    display: flex;
    align-items: center;
    width: 100%;
}

.left img{
    width: 200px;
    height: 60px;
    object-fit: contain;
}

.left .category {
    border: none;
    background-color: #008DFF;
    padding: 8px 20px;
    border-radius: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-left: 15px;
}

.left .category .category-icon{
    font-size: 23px;
    margin-right: 5px;
}

.left form {
    width: 100%;
    display: flex;
    padding: 0px 40px;
}

.left form input {
    padding: 10px 20px;
    width: 100%;
    border: 2px solid #008DFF;
    outline: none;
    color: #008DFF;
    border-radius: 10px 0px 0px 10px;
}

.left form button {
    padding: 7px 20px;
    border-radius: 0px 10px 10px 0px;
    border: none;
    background-color: #008DFF;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: all .5s;
}

.left form button:hover{
    background-color: #006bc3;
}

.right ul{
    display: flex;
    align-items: center;
}

.right ul li {
    list-style-type: none;
    margin-right: 10px;
}

.right ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
    margin-right: 18px;
    font-size: 15px;
    font-weight: 400;
    margin-top:5px ;
    transition: all .5s;
}

.right ul li a:hover{
    color: #008DFF;
}

.right ul li a .header-image{
    height: 23px;
    margin-bottom: 5px;
}

.right ul li a .header-icon{
    font-size: 23px;
    margin-bottom: 5px;
}